
.container{
  display:inline-flex;
  flex-direction: row;
}

.item{

}

img{
  width:auto;
  max-height:300px;
  margin-left:20px;
  vertical-align: text-bottom;
}
#text{
  margin-top:10px;
  margin-left:2%;
  margin-right:2%;
  max-height:300px;
  max-width:50%;
  text-align: left;
  
}

#overview{
word-wrap: normal;
}

#title{
font-weight:bold;
}
